<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Agenda</title>
</head>
<body>
    <h1>Login</h1>
    {% for message in messages %}
        <p><Strong>Error:</Strong> {{message}}</p>
    {% endfor %}
    <form action="submit" method="POST">{% csrf_token %}
        <input type="text" name="username" placeholder="Usuário" autofocus required> <br>
        <input type="password" name="password" placeholder="Senha" required> <br>
        <input type="email" name="email" placeholder="Email" required> <br>
        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>