{% extends "page.html" %}

{% block content %}

<h2>Evento</h2>

<form action="submit" method="POST">{% csrf_token %}
    <input type="number" value="{{ evento.id }}" name="id" hidden>
    <input type="text" name="titulo" placeholder="Título" size='23' value="{{ evento.titulo }}" required autofocus> <br>
    <textarea name="descricao" placeholder="Descrição" rows="5" cols="25" >{{ evento.descricao }}</textarea> <br>
    <input type="datetime-local" name="data_evento" value="{{  evento.get_data_evento_input }}" required> <br>
    <button type="submit">Salvar</button> 
    <button type="reset">Apagar</button> 
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
    
</form>

{% endblock %}